<% provide(:title, 'Sponsor Sign up') %>

<h1>Sponsor Just 4 Water</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@sponsor, url: sponsors_join_path) do |f| %>
      <%= render 'shared/sponsor_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.telephone_field :phone, class: 'form-control' %>

      <%= f.submit "Become a Sponsor!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
